.contact-edit {
    position: relative;
    max-height: 400px;
    max-width: 375px;
    position: fixed;
    inset: 0;
    top: -10%;
    margin: auto;
    background-color: rgb(250, 252, 250);
    border: orange 1.5px solid;
    border-radius: 7px;
    box-shadow: -3px 1px 28px #00000061;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-weight: bold;

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 1em;
        }

        button {
            width: 50%;
            display: block;
            margin: 20px auto;
        }
    }


    .back-btn {
        position: absolute;
        left: 3.7px;
        top: 3px;
        padding: 5px;
        background: none;
        max-width: 40px;
        cursor: pointer;

        &:hover {
            scale: 1.1;
            background: whitesmoke;
            border-radius: 50%;
            margin: 2px 1px;
        }
    }
}