:host {
    height: 100%;

    .home-page {
        position: relative;
        padding: 0;
        padding-inline: 0vw;
        margin: 0;

        .hero {
            img {
                min-height: 90vh;
                object-fit: cover;
            }

        }

        .user-article {
            position: absolute;
            display: grid;
            top: 7%;
            left: 50%;
            transform: translate(-50%, -50%);
            gap: 2.5px;
            background-color: gold;
            padding: 10px;
            border-radius: 7px;
            margin: 0 auto;
            font-size: 18px;

            h2 {
                font-weight: bold;
            }

            .balance {
                align-items: center;
                justify-content: space-between;

                img {
                    max-width: 50px;
                }
            }
        }
    }
}